<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link th:href="@{/css/dashboard.css}" rel="stylesheet">

    <title th:text="${title}">Hello, world!</title>
</head>

<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" th:fragment="header">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#" th:href="@{/}">Website Name</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <a class="btn btn-dark" sec:authorize="!isAuthenticated()" href="#" th:href="@{/account/signin}">Login</a>
    <a class="btn btn-dark" sec:authorize="!isAuthenticated()" href="#" th:href="@{/account/register}">Register</a>

    <div class="dropdown">
        <a class="btn btn-warning mx-2 dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" sec:authorize="isAuthenticated()" href="#">MyPage</a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#" th:href="@{/account/personalinfo}">Personal info</a></li>
            <li><a class="dropdown-item" href="#" th:href="@{/message/list}">Messages</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>

    <div class="navbar-nav">
        <form class="nav-item text-nowrap" th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark" href="#" sec:authorize="isAuthenticated()">Sign out</button>
        </form>
    </div>
</header>

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" th:fragment="nav(menu)">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${menu == 'home'} ? 'active'" aria-current="page" href="#"
                   th:href="@{/}">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${menu == 'board'} ? 'active'" aria-current="page" href="#"
                   th:href="@{/board/list}">
                    Board
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${menu == 'memberlist'} ? 'active'" aria-current="page" href="#"
                   th:href="@{/member/list}">
                    Member List
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Current month
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Last quarter
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Social engagement
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Year-end sale
                </a>
            </li>
        </ul>
    </div>
</nav>

</body>

</html>