<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link th:href="@{/css/signin.css}" rel="stylesheet">

    <title>Register</title>
</head>
<body class="text-center">
<main class="form-signin">
    <form th:action="@{/account/register}" method="post">
        <a th:href="@{/}"><img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"
                               alt="" width="72" height="57"></a>
        <h1 class="h3 mb-3 fw-normal">Register</h1>

        <div class="form-floating my-2">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
            <label for="username">Username</label>
        </div>

        <div class="form-floating my-2">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <label for="password">Password</label>
        </div>

        <div class="form-floating my-2">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
            <label for="name">Name</label>
        </div>

        <div class="form-floating my-2">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
            <label for="name">Email</label>
        </div>

        <div class="form-floating my-2">
            <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder="Phone Number">
            <label for="phonenumber">PhoneNumber</label>
        </div>

        <div class="my-2">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="gender" id="btnradio1" th:value="Male" autocomplete="off"
                       checked>
                <label class="btn btn-outline-secondary" for="btnradio1">Male</label>

                <input type="radio" class="btn-check" name="gender" id="btnradio2" th:value="Female" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btnradio2">Female</label>
            </div>
        </div>

        <div class="d-flex justify-content-center my-2">

            <div class="float-start">
                <select class="form-select form-select-sm" aria-label=".form-select-lg example" name="year">
                    <option selected>YEAR</option>
                    <option th:value="${i}" th:each="i: ${#numbers.sequence(1900, 2021)}" th:text="${i}">One</option>
                </select>
            </div>

            <div class="float-start">
                <select class="form-select form-select-sm" aria-label=".form-select-lg example" name="month">
                    <option selected>Month</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div>

            <div class="float-start">
                <select class="form-select form-select-sm" aria-label=".form-select-lg example" name="date">
                    <option selected>Date</option>
                    <option th:value="${i}" th:each="i: ${#numbers.sequence(01, 31)}" th:text="${i}">One</option>
                </select>
            </div>
        </div>

        <button class="w-100 btn btn-lg btn-dark" type="submit">Register</button>
    </form>
</main>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body>
</html>